<form method="post" action="/">
  <label for="site">Site</label>
  <input type="text" name="site">
  <label for="site">Token</label>
  <input type="text" name="token">
  <button type="Submit">
    Submit
  </button>
  
  
</form>