/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
@import url("https://cdn.glitch.com/b6a2fe4b-e1a7-452f-afc3-d2f9ac9417f3%2FBentonSans-Regular.otf?1507134020174");
* {
  box-sizing: border-box;
  --pink: #F1A5FF;
  --blue: #3933FF;
  --purple: #944DFF;
  --red: #F55356;
  --yellow: #F7D331;
  --green: #54D182;
  --teal: #00CDD6;
  --black: #060628;
  --darkgray: #828293;
  --medgray: #45455E;
  --lightgray: #DFDFE6;
}


* {
  box-sizing: border-box;
  font-family: BentonSans;
}

.container {
  background-color: var(--teal);
  display:flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  max-width: 1200px;
  border-radius: 20px;
  min-width: 900px;
  margin-bottom: 20px;
}

.input-combo {
  margin: 1em 0;
  width: 400px;
}

#activity-form {
  background-color: white;
  border-radius: 20px;
}

#activity-form, #messages {
  padding: 30px;
  flex-basis: 55%;
  margin: 2em;
  height: 830px;
}

#messages {
  overflow-y:scroll;
  background-color: white;
  border-radius: 20px
}

form p {
  color: #828293;
  font-size: .875em;
}

.event-body {
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.event-comment.failure{
  background-color: #F55356;
}

.event-comment.failure:before {
  border-color: transparent #F55356 transparent transparent;
}

.event-comment {
  margin-bottom: 1em;
}

.manuscript-logo {
  width: 30px;
  align-self: flex-start;
  margin-right: 20px;
  margin-top: -15px;
}

.welcome {
  background-color: var(--pink);
  color: black;
}

.event-comment.welcome:before {
  border-color: transparent var(--pink) transparent transparent;
}

.glitch-remix-button {
/*   float: right; */
  
}

.glitch-remix-button img {
  background-color: white;
  border-radius: 4px;
}